.navbar-light .navbar-nav .nav-link {
  color: rgba(255,255,255,0.95);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(210,210,210,0.92);
}

.navbar-light .navbar-brand {
  color: rgb(244,165,38);
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: rgba(250,199,20,0.39);
}

.navbar-light .navbar-toggler {
  color: rgba(255,255,255,0.5);
  border-color: rgba(0,0,0,0.1);
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 40px;
}

@media (min-width: 768px) {
  .teksatir {
    padding-top: 62px;
  }
}

@media (max-width: 767px) {
  .teksatir {
    padding-top: 65px;
  }
}

.form-control {
  border-radius: 10px!important;
}

.dropdown-item.active, .dropdown-item:active {
  color: #f3a526;
  text-decoration: none;
  background-color: #f3a426;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: rgba(0,0,0,0.8);
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,0.93);
  border-radius: .25rem;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f4a526;
  border-radius: 25px;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #fcfcfc;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

@media (max-width: 536px) {
  #headerolumn {
    margin-top: -35px;
  }
}

.productsbutton {
  margin-bottom: 10px;
}

.productsbutton {
  border-radius: 20px;
}

.dropdown-menu.show {
  display: block;
}

@media (min-width: 576px) {
  #productdiv {
    margin-left: 20px;
  }
}

